.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f0f2f5;
  .recordBtn {
    height: 0.4rem;
    width: 100%;
    line-height: 0.4rem;
    font-size: 0.15rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    .recordIcon {
      position: relative;
      width: 0.2rem;
      height: 0.2rem;
      margin-right: 0.05rem;
      vertical-align: middle;
      bottom: 2px;
      fill: rgba(0, 0, 0, 0.7);
    }
  }
  .screenShotList {
    .screenshotItem {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: flex-start;
      width: 100%;
      height: 0.6rem;
      line-height: 0.6rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.1rem 0.2rem;
      overflow: hidden;
      box-sizing: border-box;

      .thumnail {
        width: 0.4rem;
        height: 0.4rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-right: 0.2rem;
        order: 1;
      }
      .info {
        text-align: left;
        order: 2;
        flex: 1.5rem;
        .title {
          font-size: 0.2rem;
          height: 0.3rem;
          line-height: 0.3rem;
        }
        .created {
          font-size: 0.12rem;
          color: rgba(0, 0, 0, 0.5);
          line-height: 0.05rem;
        }
      }
      .process {
        flex: 1rem;
        order: 3;
        text-align: right;
        font-size: 0.2rem;
        line-height: 0.4rem;
        span {
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          vertical-align: middle;
          background-size: 100%;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }
  .noContent {
    height: calc(100% - 0.4rem);
    line-height: calc(100% - 0.4rem);
    font-size: 0.2rem;
    text-align: center;
  }
}

